<% unless @asset.id.blank? %>
<div>
  Current Asset:
</div>

<div>
  <a href="<%= rails_blob_path(@asset.resource, disposition: "attachment") %>">
  <% if @asset.resource.previewable? %>
    <%= image_tag @asset.resource.preview(resize: "250x250") %>
  <% elsif @asset.resource.variable? %>
    <%= image_tag @asset.resource.variant(resize: "250x250") %>
  <% else %>
    Click to Download
  <% end %>
  </a>
</div>
<% end %>

<%= semantic_form_for @asset do |f| %>
  <%= f.inputs name: "File Upload" do %>
    <%= f.input :resource, as: :file, hint: "Will replace any existing file" %>
  <% end %>
  <%= f.inputs name: "About" do %>
    <%= f.input :name, hint: "Name that will show in listings" %>
    <%= f.input :description, hint: "A short description of this asset" %>
  <% end %>
  <%= f.inputs name: "Tags" do %>
    <%= f.input :tags, as: :string, input_html: { value: @asset.tags.map(&:hashtag).join(" ") } %>
  <% end %>

  <%= f.submit %>
<% end %>
