<div class="media">
  <a href="<%= rails_blob_path(@asset.resource, disposition: "attachment") %>"
     data-toggle="tooltip" title="Click to Download">
    <% if @asset.resource.previewable? %>
      <%= image_tag @asset.resource.preview(resize: "250x250"), class: "image-thumbnail" %>
    <% elsif @asset.resource.variable? %>
      <%= image_tag @asset.resource.variant(resize: "250x250"), class: "image-thumbnail" %>
    <% else %>
      Click to Download
    <% end %>
  </a>
  <div class="media-body">
    <h5 class="mt-0 mt-1"><%= @asset.name %></h5>
    <div class="mb-0"><%= @asset.description %></div>
    <small class="text-muted">
      <% @asset.tags.each do |t| %>
        <%= link_to t.hashtag, "/tags/#{t.hashtag.gsub(/#/, '')}" %>
      <% end %>
    </small>
  </div>
</div>


<div>
  <%= link_to 'Edit', edit_asset_path(@asset) %> |
  <%= link_to 'Back', assets_path %>
</div>
