<!DOCTYPE html>
<html>
  <head>
    <title>SLP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="justify-content-md-center col-md-auto">
          <%= link_to "New Asset", new_asset_path %> |
          <%= link_to "View Assets", root_path %> |
          <%= link_to "Browse by Tag", tags_path %>
        </div>
      </div>
      <div class="row">
        <div class="justify-content-md-center col-md-auto">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
